
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="ContactContainer">
    <section class="ContactTop">
        <div class="ContactIntro">
            <h1>Contact me!</h1>
            <h2>Are you interested in my portfolio? If you are looking for a reliable front end developer and your work is awesome send me a message. I'd love to talk over it over a beer or coffee.  </h2>
        </div>

        <div class="ContactDetailsTop">
            <div class="ContactMessage">
                <div class="Social">
                    <ul>
                        <li>
                            <a href="https://www.facebook.com/MygelBergstresser">
                                <i class="fa fa-facebook-square fa-3x"></i>
                                <span>Like my Facebook</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/BreatheDotA">
                                <i class="fa fa-facebook-square fa-3x"></i>
                                <span>Follow me on Twitter</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://plus.google.com/u/0/106473414071064145273/posts">
                                <i class="fa fa-facebook-square fa-3x"></i>
                                <span>Hangout with me on Google+</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/FederationCore@gmail.com">
                                <i class="fa fa-facebook-square fa-3x"></i>
                                <span>Send me an Email</span>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="Social">
                    <h3>Review my Code</h3>
                    <ul>
                        <li>
                            <a href="https://github.com/Legym">
                                <i class="fa fa-github fa-3x"></i>
                                <span>Review my Github</span>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="Social">
                    <h3>My Resume</h3>
                    <ul>
                        <li>
                            <a href="#">
                                <i class="fa fa-envelope-o fa-3x"></i>
                                <span>View my Resume</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="FaceImageContact">
                <img src='/Content/img/ContactMe.jpg'>
            </div>
        </div>
    </section>
</div>




@*<div class="ContactContainer">
    <h1>Contact me</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

    <div class="Social">
        <ul>
            <li><a href="#">Like my Facebook</a></li>
            <li><a href="#">Follow me on Twitter</a></li>
            <li><a href="#">Hangout with me on Google+</a></li>
            <li><a href="#">Send me an Email</a></li>
        </ul>
    </div>

    <div class="Github">
        <h1>Review my Code</h1>
        <ul>
            <li><a href="#">Review my Github</a></li>
        </ul>
    </div>

    <div class="Email">
        <h1>My Resume</h1>
        <ul>
            <li><a href="#">View my Resume</a></li>
        </ul>
    </div>
</div>*@

