
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";    
}

<div class="ContactContainer">

    <section class="ContactTop">
        <div class="ContactIntro">
            <h1>Contact me!</h1>
            <h2>Are you interested in my work? If you are looking for a reliable front end developer and your work is awesome send me a message. I'd love to hear about it. </h2>
        </div>
    </section>

</div>

<div class="ContactContainerBottom">
    <section class="ContactTopBottom">
        <div class="ContactDetailsTop">
            <div class="ContactMessage">
                <div class="Social">
                    <h3>Review my Code</h3>
                    <ul>
                        <li>
                            <a href="https://github.com/Legym">
                                <i class="fa fa-github fa-3x"></i>
                                <span>Review my Github</span>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="Social">
                    <h3>My Resume</h3>
                    <ul>
                        <li>
                            <a href="/Content/Files/Mygel%20Bergstresser%20Resume.pdf">
                                <i class="fa fa-file-pdf-o fa-3x"></i>
                                <span>View my Resume</span>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="Social">
                    <h3>Message Me!</h3>
                    <ul>
                        <li>
                            <a href="https://www.facebook.com/MygelBergstresser">
                                <i class="fa fa-facebook-square fa-3x"></i>
                                <span>Facebook</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/BreatheDotA">
                                <i class="fa fa-twitter-square fa-3x"></i>
                                <span>Twitter</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://plus.google.com/u/0/106473414071064145273/posts">
                                <i class="fa fa-google-plus-square fa-3x"></i>
                                <span>Google+</span>
                            </a>
                        </li>
                        <li>
                            <form action="#">
                                <i class="fa fa-envelope-o fa-3x emailMargin"></i>
                                <input type="text" name="firstname" value="FederationCore@gmail.com">
                            </form>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="FaceImageContact">
                <h1>Before You Contact me!</h1>
                <p>
                    On May 1st I moved from North Carolina to Seattle in hopes to work with talented individuals in web development. I have been working with Microsoft tools for the past seven years and I am very proficient with them. If your company cultivates creativity and has a great work environment I would love to see if we are a good match.
                </p>

                <img src='/Content/img/ContactUs.png'>
            </div>
        </div>
    </section>
</div>
