
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";    
}

<div class="ContactContainerBottom">
    <section class="ContactTopBottom">
        <div class="ContactDetailsTop">
            <div class="FaceImageContact">
                <h1>Contact me!</h1>
                <p>
                    Are you interested in my work and looking for a web developer to build your idea? Lets get in touch and see if we can make it happen.
                </p>
                
                <img src='/Content/img/ContactUs.png'>
            </div>


            <div class="ContactMessage">
                <div class="Social">
                    <h3>Email</h3>
                    <form action="#">
                        <input type="text" name="firstname" value="MygelBergstresser@gmail.com">
                    </form>
                </div>

                <div class="Social">
                    <h3>My Resume</h3>
                    <ul class="resume-pdf">
                        <li>
                            <a class="btn red" target="_blank" href="/Content/Files/MygelBergstresserResume.pdf">
                                <span>
                                    Download PDF
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="Social">
                    <h3>Message Me!</h3>
                    <ul>
                        <li>
                            <a target="_blank" href="https://www.facebook.com/MygelBergstresser">
                                <i class="fa fa-facebook-square fa-3x"></i>
                                <span>Facebook</span>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="https://www.linkedin.com/pub/mygel-bergstresser/a3/3ba/1b8">
                                <i class="fa fa-linkedin-square  fa-3x"></i>
                                <span>LinkedIn</span>
                            </a>
                        </li>
                    </ul>





                </div>


            </div>

        </div>
    </section>
</div>
