<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title Mygel Bergstresser | Front End Developer & Web Designer</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="57x57" href="~/Content/img/Fav/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/Content/img/Fav/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/Content/img/Fav/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/Content/img/Fav/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/Content/img/Fav/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/Content/img/Fav/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/Content/img/Fav/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/Content/img/Fav/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/Content/img/Fav/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/Content/img/Fav/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Content/img/Fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/Content/img/Fav/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/img/Fav/favicon-16x16.png">
    <link rel="manifest" href="~/Content/img/Fav/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/Content/img/Fav/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300' rel='stylesheet' type='text/css'>
    <link href="~/Content/css/app.css" rel="stylesheet" />
   
    <script src="~/content/js/vendor/modernizr-2.8.3.min.js"></script>

</head>
<body class="@RenderSection("BodyClass", false)">

    <div>
        <header id="header">
            <div class="HeaderContainer">
                <div id="logo" class="logo">
                    <a href="/">
                        <div class="sprite sprite-logo"></div>
                    </a>
                </div>

                <nav id="Social-Media">
                    <ul>
                        <li><a target="_blank" href="https://github.com/Legym"><i class="fa fa-github fa-2x"></i></a></li>
                        <li><a target="_blank" href="https://www.facebook.com/MygelBergstresser"><i class="fa fa-facebook fa-2x"></i></a></li>
                        <li><a target="_blank" href="https://www.linkedin.com/in/mygel-bergstresser-1b83baa3"><i class="fa fa-linkedin fa-2x"></i></a></li>
                    </ul>
                </nav>

                <nav id="navigation" class="pre-load">
                    <ul>
                        <li>                            
                            <a href="/">
                                <i class="fa fa-home fa-2x"></i>
                                Home
                            </a>
                        <li>
                            <a href="/About/">
                                <i class="fa fa-user fa-2x"></i>
                                About</a>
                        </li>
                        <li>    
                            <a href="/Portfolio/">
                                <i class="fa fa-briefcase fa-2x"></i>
                                Projects</a>
                        </li>
                        <li>
                            <a href="/Contact/">
                                <i class="fa fa-envelope fa-2x"></i>
                                Contact</a>
                        </li>
                    </ul>
                </nav>

                <a href="#navigation"><div id="nav-toggle"><span></span></div></a>
            </div>
        </header>

        @RenderBody()

        <div class="footer">
            <div class="Arrow">
                <a id="top" href="#top">
                    <img src="/Content/img/ArrowUp.svg" alt="" />
                </a>
            </div>

            <div class="Copyright">
                <div class="Copy">
                    <p>© 2015 Mygel Bergstresser</p>
                </div>

                <div class="Menu">
                    <ul>
                        <li class="FotterColor"><a href="/About/">About</a></li>
                        <li class="FotterColor"><a href="/Portfolio/">Portfolio</a></li>
                        <li class="FotterColor"><a href="/Process/">Workflow</a></li>
                        <li class="FotterColor"><a href="/Contact/">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

    <script src="~/Content/js/output/district.js"></script>

    @RenderSection("chartjs", false)

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-64339986-1', 'auto');
        ga('send', 'pageview');
    </script>

</body>
</html>
