<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title Mygel Bergstresser | Front End Developer & Web Designer</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="apple-touch-icon" sizes="57x57" href="/Content/img/Fav/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/Content/img/Fav/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/Content/img/Fav/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/Content/img/Fav/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/Content/img/Fav/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/Content/img/Fav/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/Content/img/Fav/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/Content/img/Fav/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/Content/img/Fav/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/Content/img/Fav/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/Content/img/Fav/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/Content/img/Fav/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/Content/img/Fav/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/Content/img/Fav/manifest.json">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
    
    <link href="~/Content/css/Compressed/PrimaryDir.css" rel="stylesheet" />
    <link href="~/Content/css/Compressed/normalize.css" rel="stylesheet" />
    <link href="~/Content/css/Compressed/Styled.css" rel="stylesheet" />
    <script src="~/content/js/vendor/modernizr-2.8.3.min.js"></script>

    <script src="//use.typekit.net/cmg1ule.js"></script>
    <script>try { Typekit.load(); } catch (e) { }</script>


</head>
<body>

    <header id="header">
        <div class="HeaderContainer">
            <div class="logo">
                <a href="/">
                    <img src="/Content/img/svg.svg">
                </a>
            </div>

            <a id="nav-toggle" href="#"><span></span></a>

            <nav id="Navigation">
                <ul>
                    <li><a href="/About/">About</a></li>
                    <li><a href="/Portfolio/">Portfolio</a></li>
                    <li><a href="/Process/">Workflow</a></li>
                    <li><a href="/Contact/">Contact</a></li>

                </ul>
            </nav>
        </div>

        <div class="HeaderEffects"></div>

    </header>

    @RenderBody()

    <div class="footer">

        <div class="Arrow">
            <a id="top" href="#top">
                <img src="/Content/img/ArrowUp.svg" alt="" />
            </a>
        </div>
        
        <div class="Copyright">
            <div class="Copy">
                <p>© 2015 Mygel Bergstresser</p>
            </div>

            <div class="Menu">
                <ul>
                    <li class="FotterColor"><a href="/About/">About</a></li>
                    <li class="FotterColor"><a href="/Portfolio/">Portfolio</a></li>
                    <li class="FotterColor"><a href="/Process/">Workflow</a></li>
                    <li class="FotterColor"><a href="/Contact/">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/content/js/main.js"></script>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">


    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-64339986-1', 'auto');
        ga('send', 'pageview');

    </script>

    <!-- CSS Animations were used by incredibly people -->
    <!--https://twitter.com/mariosmaselli(Marvel Animations)-->
    <!--https://dribbble.com/shots/1702943-My-Desk(Coffee Cup)-->
    <!--http://codepen.io/leonard/pen/zqhea-->

</body>
</html>
