//Each page needs a container to center and add space to each page.

//Main Navigation
$HeaderContainerMobile: 90%;
$HeaderContainerDesktop: 60%;

$HomepageContainerMobile: 5%;
$HomepageContainerTablet: 5%;
$HomepageContainerDesktop: 5%;
$HomepageContainerXDesktop: 20%;




$HeaderContainerTablet: 5%;
$HeaderContainerDesktop: 5%;
$HeaderContainerXDesktop: 20%;

$HomepageBottomContainerMobile: 20%;
$HomepageBottomContainerTablet: 5%;
$HomepageBottomContainerDesktop: 5%;
$HomepageBottomContainerXDesktop: 20%;


//About
$AboutContainerTablet: 5%;
$AboutContainerDesktop: 10%;
$AboutContainerDesktopX: 20%;



$InterestImageContainerDesktop: 20%;


//Contact
$ContactContainerDesktop: 20%;


//Portfolio
$PortfolioContainerDesktop: 20%;
$PortfolioGitHubContainerDesktop: 20%;


//Workflow
$WorkflowContainerDesktop: 20%;
