@keyframes borderslide {
  0% {
		padding-bottom: -2px;
  }
  50% {
		padding-bottom: 3px;
  }
}

.PortHeader {    
    padding-bottom: 3em;

    @media only screen and (min-width: 64.063em) {
        /*padding-top: 99px;*/
    }

    .portfolio-projects {
        max-width: 1200px;
        margin: 0 auto;
        
        img {
            max-width: 100%;
        }
    }
}

.PortText {
    width: 100%;
    margin-bottom: 3em;

    h1 {
      font-size: 4em;
      color: #111;
      margin: .3em 0;
      margin-top: .5em;
      line-height: 1em;
      font-family: "ff-prater-sans-web";    
    }

    p {
        color: #888;
        border: 1px solid #e2e2e2;
        padding: 1em;
        background-color: white;
        font-family: 'Open-Sans';
        font-size: 1.1em;
        line-height: 1.8em;
    }

    span {
        color: #222;
        font-size: 1.8em;
        display: block;
        font-family: 'league-Gothic';
        margin-bottom: 10px;
    }

    
    @media only screen and (min-width: 40.063em) { 
        margin-bottom: 0;
        h1 {
            font-size: 4em;
        }
    }

    @media only screen and (min-width: 64.063em) {
        width: 50%;
        display: inline-block;

        h1 {
           margin-top: 0.8em;
           font-size: 4em;
        }


    }
}

.PortContent {

    @media only screen and (min-width: 40.063em) { 
        width: 70%;
        margin: 0 auto;
        height: 300px;
        position: relative;

        h1 {
            display: none;
        }
    }

    @media only screen and (min-width: 64.063em) {
        width: 48%;
        display: inline-block;
        height: 300px;
        position: relative;
        left: 2em;
        padding-left: 2%;
        vertical-align: top;
        margin-top: 2em;
    }

    @media only screen and (min-width: 90.063em) { 
        width: 40%;
        display: inline-block;
    }
}

b.PortStyle {
  color: #267CBC;
}

.about-section5 {

	h3 {
		font-size: 48px;
		font-weight: 100;
		margin-bottom: 60px;
		margin-left: 65px;
	}

    .slider-nav {

        article {
            height: 250px;
        }

        #slider-proj, .slick-slide {            
            background-repeat: no-repeat !important;
            background-position: center !important;
            outline: none;
            cursor: default;
            background-size: 218px 152px !important;

            @media only screen and (min-width: 480px) { 
                background-size: 140px 106px!important;
            }

            @media only screen and (min-width: 740px) { 
                background-size: 218px 160px!important;
            }

            @media only screen and (min-width: 970px) {
                background-size: 271px 187px!important;
            }

            @media only screen and (min-width: 1200px) { 
                background-size: 225px 160px!important;
            }

            @media only screen and (min-width: 1400px) { 
                background-size: 300px 200px!important;
            }

            &:after {
                content: none;
            }

            .proj-content {
                display: none;
            }

            .section5-title {
                display: none;
            }
        }
    }

    .portfolio-slideshow {
        background-color: #2B9CD1;

        .proj-content img {
            max-width: 100%;
            padding: 10px;
            background-color: white;
            margin: 0 auto;

            @include medium {
                width: 400px;
                height: 300px;
            }

        }

        #slider-proj {
            outline: none;
            cursor: default;
            

            @include small {              
                padding-top: 150px;
            }

            @media only screen and (min-width: 64.063em) {

            }

            @media only screen and (min-width: 90.063em) { 

            }
        }

        article {
            

            @include small {
                height: 400px;
            }
            
        }

	    .slick-slider {
		    margin-bottom: 0;
	    }
    }


	.slick-prev {
		background: url(/content/img/arrow-about-left.png);
		height: 81px;
		z-index: 999;
		width: 56px;
		background-repeat: no-repeat;
		left: 20px;
        font-size: 0;
        border: 0;
        top: -262px;
        position: absolute;         

		&:before {
			content: none;
		}
	}

	.slick-next {
		background: url(/content/img/arrow-about-right.png);
		height: 81px;
		z-index: 999;
		width: 56px;
		background-repeat: no-repeat;
		right: 20px;
        font-size: 0;
        border: 0;
        top: -262px;
        position: absolute;

		&:before {
			content: none;
		}			
	}

	article {
		position: relative;
		text-align: center;



		&:hover {
			cursor: pointer;
		}

	}

	.slick-center {

		&:after {
			position: absolute;
			bottom: 20px;
			content: "" !important;
			background-color: black;
			width: 70%;
			display: block;
            left: 0;
            right: 0;
            margin: 0 auto;
            border-bottom: 5px solid #2B9CD1 !important;

            @media only screen and (min-width: 90.063em) { 
                bottom: 5px;
            }
		}				
	}	

	.section5-title {
		color: white;
		font-weight: 500;
		font-size: 13px;
		background-color: #333;
		display: inline-block;
		position: absolute;
		z-index: 2;
		padding: 10px 24px;
		bottom: 0;
		font-weight: bold;
		letter-spacing: .15em;
		left: 0;
	}	

}		    

.slick-arrow {
    outline: none;
}

.wrap {
    max-width: 900px;
    margin: 0 auto;
}

.project-detail {    
    text-align: center;

    @include small {
        text-align: left;
    }

    h1, a {
        margin-top: 0;
        font-family: pratersanstwo;
        font-weight: 600;
        text-transform: uppercase;
        color: white;
        margin-bottom: 15px;
    }

    ul {
        padding-left: 60px;

        li {
            list-style: square;
            font-family: 'Roboto';
            margin-bottom: 10px;
            color: white;
            font-size: 1.05em;
            letter-spacing: 1px;
        }
    }

    p {
        letter-spacing: 1px;
        line-height: 1.2em;
        font-family: 'Roboto';
        color: white;
        font-size: 1.05em;
        margin-top: 0;
        letter-spacing: 1px;
    }

    a {
        font-size: 30px;
        color: #FFF;
        text-decoration: none;
        border-bottom: 2px solid rgba(255, 255, 255, .0);
        padding: 0 0 0 2px;
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;

        &:hover {
	        animation: borderslide .5s;
	        border-bottom: 4px solid rgba(255, 255, 255, 1);
	        padding-bottom: 3px;
        }
    }
}



.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	margin: 0 auto;
	border-top: 20px solid #2B9CD1;
}