$HeaderContainerMobile: 90%;
$HeaderContainerDesktop: 60%;

$HomepageContainerMobile: 5%;
$HomepageContainerTablet: 5%;
$HomepageContainerDesktop: 5%;
$HomepageContainerXDesktop: 20%;

$HeaderContainerTablet: 5%;
$HeaderContainerDesktop: 5%;
$HeaderContainerXDesktop: 20%;

$HomepageBottomContainerMobile: 20%;
$HomepageBottomContainerTablet: 5%;
$HomepageBottomContainerDesktop: 5%;
$HomepageBottomContainerXDesktop: 20%;

$AboutContainerTablet: 5%;
$AboutContainerDesktop: 5%;
$AboutContainerDesktopX: 20%;

$ContactContainerDesktop: 20%;
