$HeaderContainerMobile: 90%;
$HeaderContainerDesktop: 60%;

$HomepageContainerMobile: 5%;
$HomepageContainerTablet: 5%;
$HomepageContainerDesktop: 5%;
$HomepageContainerXDesktop: 20%;

$HeaderContainerTablet: 5%;
$HeaderContainerDesktop: 5%;
$HeaderContainerXDesktop: 20%;

$HomepageBottomContainerMobile: 20%;
$HomepageBottomContainerTablet: 5%;
$HomepageBottomContainerDesktop: 5%;
$HomepageBottomContainerXDesktop: 20%;

$AboutContainerTablet: 5%;
$AboutContainerDesktop: 5%;
$AboutContainerDesktopX: 20%;


$InterestImageContainerTablet: 5%;
$InterestImageContainerDesktop: 5%;
$InterestImageContainerXDesktop: 15%;


$ContactContainerDesktop: 20%;

$PortfolioContainerDesktop: 20%;
$PortfolioGitHubContainerDesktop: 20%;

$WorkflowContainerDesktop: 20%;
