@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
	opacity:0;  /* make things invisible upon start */
	-webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;

	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;
}

.fade-in.one {
-webkit-animation-delay: 0.7s;
-moz-animation-delay: 0.7s;
animation-delay: 0.7s;
}

.fade-in.two {
-webkit-animation-delay: 1.2s;
-moz-animation-delay:1.2s;
animation-delay: 1.2s;
}

.fade-in.three {
-webkit-animation-delay: 1.6s;
-moz-animation-delay: 1.6s;
animation-delay: 1.6s;
}



li.image a:hover {
    -webkit-transition: .5s ease-in-out;
}

.AboutContainer {
    padding: 50px 30px;
    border-bottom: #dddddd solid 1px;

    @media only screen and (min-width: 40.063em) { 
        padding-top: 125px !important;
    }

    h1 {
        font-family: "pratersanstwo";
        font-weight: 600;
        margin: 0;
        font-size: 4em;
        color: black;

        @media only screen and (min-width: 40.063em) { 
            font-size: 5em;
            color: black;
        }
    }

    h2 {
      font-family: "Roboto";
      font-size: 1.6em;
      font-weight: 100;
      margin-top: 0;
      color: #555;
      line-height: 1.3em;
    }

    p {
        color: #555555; 
        margin-bottom: 1.4em;
        line-height: 1.9em;
    }

    @media only screen and (min-width: 40.063em) { 
        padding: 50px $AboutContainerTablet;

    }

    @media only screen and (min-width: 64.063em) {
        padding: 50px $AboutContainerDesktop;
    }

    @media only screen and (min-width: 90.063em) { 
        padding: 50px $AboutContainerDesktopX
    }
}

.AboutTop {
    margin-bottom: 3em;
    border-bottom: 1px solid lightgray;

    @media only screen and (min-width: 40.063em) { 
        margin-bottom: 1.5em;    

    }
}

.AboutIntro {

    p {
        font-family: Roboto;
    }


    @media only screen and (min-width: 40.063em) {
        display: inline-block;
        vertical-align: top;
    }

    @media only screen and (min-width: 64.063em) {
        width: 40%; 
        display: inline-block;
        vertical-align: top;

        h2 {
            margin-top: 0;
        }
    }

    @media only screen and (min-width: 90.063em) { 
        width: 40%; 
        display: inline-block;
        vertical-align: top;
    }
}

.FaceImage {

    img {
        width: 100%;
        margin-left: 5%;
        padding-bottom: 2em;
    }

    @media only screen and (min-width: 40.063em) { 
        display: inline-block;
        text-align: right;

        img {
            width: 60%;
            margin-right: 10%;
            margin-left: 0;
        }
    }

    @media only screen and (min-width: 64.063em) {
        width: 59%;

        img {
            width: 80%;
            margin-left: 20%;
        }
    }

    @media only screen and (min-width: 90.063em) { 
        width: 59%;

        img {
            width: 80%;
            margin-right: 10%;
        }

    }
}

.FaceSmallImages {
    ul {
        padding: 0;
        text-align: center;
    }

    @media only screen and (min-width: 40.063em) { 
        margin-top: 4em;
    }

    @media only screen and (min-width: 64.063em) {
        margin-top: 2em;
    }

    @media only screen and (min-width: 90.063em) { 
        margin: 2em 0 0 0;
    }
}

.image {    
    background-color: white;
    margin-bottom: 10px;
    border: 1px solid rgb(239, 239, 239);

    @include small {
        display: inline-block;
        margin-right: 2px; 
        width: 130px;
    }

    &:hover {
        transform: translateY(0);
        -webkit-animation: homepage1 1s infinite;
        animation: homepage1 1s infinite;
    }

    img {
        max-width: 100%;
        
        @include small {
            height: 50px;
        }
    }

    a {
        display: block;
        width: auto;
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
        padding: 5px;
    }

    @media only screen and (min-width: 40.063em) { 
        width: 200px;
        margin-right: 10px;
        margin-bottom: 30px;

        img {
            max-width: 100%;
            height: 113px;
        }
    }

    @media only screen and (min-width: 64.063em) {
        width: 150px;
        margin-right: 10px;
        margin-bottom: 30px;

        img {
            max-width: 100%;
            height: 100px;
        }    
    }

    @media only screen and (min-width: 90.063em) { 
        width: 14%;
        margin-right: 10px;

        img {
            max-width: 100%;
            height: 75px;
        }
    }
}


#Interest01, #Interest02, #Interest03, #header, #Interest012 {
   visibility: hidden;
}

.about-show  {
    visibility: visible !important;
}

#Interest01 {
    background: tomato;

    * {
      box-sizing: border-box;
    }

    body {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      min-height: 100vh;
      line-height: 1.5;
      font-family: 'Lato';
      -webkit-font-smoothing: antialiased;
      color: white;
      background: tomato;
    }

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }

    .stats {
      position: relative;
      padding: 0 25px;
    }
    @media (max-width: 690px) {
      .stats {
        width: 100%;
      }
    }
    .stats__header {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-transform: translate3d(0, -150px, 0);
              transform: translate3d(0, -150px, 0);
      opacity: 0;
      -webkit-transform-origin: left center;
              transform-origin: left center;
      -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
      transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
    }
    .stats__header.active {
      -webkit-transform: none;
              transform: none;
      opacity: 1;
    }
    .stats__header-num {
      margin-right: 25px;
    }
    .stats__header-num p {
      font-size: 80px;
      margin: 0;
      font-weight: 700;
    }
    .stats__header-name p {
      color: #f8d0d8;
      margin: 0;
      font-size: 18px;
    }
    .stats__header-name span {
      display: block;
      color: white;
      font-weight: 700;
      font-size: 36px;
      line-height: 0.8;
    }
    .stats__item {
      height: 400px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -webkit-flex-direction: column-reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse;
      float: left;
      position: relative;
      text-align: center;
      margin-right: 37.5px;
      -webkit-perspective: 1000px;
              perspective: 1000px;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;

 
    }
    .stats__item:nth-of-type(1) .stats__item-bar {
      height: 260px;
      -webkit-transition-delay: 0.1s;
              transition-delay: 0.1s;
    }
    .stats__item:nth-of-type(2) .stats__item-bar {
      height: 224px;
      -webkit-transition-delay: 0.2s;
              transition-delay: 0.2s;
    }
    .stats__item:nth-of-type(3) .stats__item-bar {
      height: 200px;
      -webkit-transition-delay: 0.3s;
              transition-delay: 0.3s;
    }
    .stats__item:nth-of-type(4) .stats__item-bar {
      height: 128px;
      -webkit-transition-delay: 0.4s;
              transition-delay: 0.4s;
    }
    .stats__item:nth-of-type(5) .stats__item-bar {
      height: 152px;
      -webkit-transition-delay: 0.5s;
              transition-delay: 0.5s;
    }
    .stats__item:nth-of-type(6) .stats__item-bar {
      height: 128.4px;
      -webkit-transition-delay: 0.6s;
              transition-delay: 0.6s;
    }
    .stats__item:nth-of-type(7) .stats__item-bar {
      height: 204px;
      -webkit-transition-delay: 0.7s;
              transition-delay: 0.7s;
    }
    .stats__item:nth-of-type(8) .stats__item-bar {
      height: 200.4px;
      -webkit-transition-delay: 0.8s;
              transition-delay: 0.8s;
    }
    .stats__item:last-child {
      margin-right: 0;
    }
    @media (max-width: 690px) {
      .stats__item {
        float: none;
        height: auto;
        width: 100%;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
      }
      .stats__item:nth-of-type(1) .stats__item-bar {
        width: 65%;
        height: 30px;
        -webkit-transition-delay: 0.1s;
                transition-delay: 0.1s;
      }
      .stats__item:nth-of-type(2) .stats__item-bar {
        width: 56%;
        height: 30px;
        -webkit-transition-delay: 0.2s;
                transition-delay: 0.2s;
      }
      .stats__item:nth-of-type(3) .stats__item-bar {
        width: 50%;
        height: 30px;
        -webkit-transition-delay: 0.3s;
                transition-delay: 0.3s;
      }
      .stats__item:nth-of-type(4) .stats__item-bar {
        width: 32%;
        height: 30px;
        -webkit-transition-delay: 0.4s;
                transition-delay: 0.4s;
      }
      .stats__item:nth-of-type(5) .stats__item-bar {
        width: 38%;
        height: 30px;
        -webkit-transition-delay: 0.5s;
                transition-delay: 0.5s;
      }
      .stats__item:nth-of-type(6) .stats__item-bar {
        width: 32.1%;
        height: 30px;
        -webkit-transition-delay: 0.6s;
                transition-delay: 0.6s;
      }
      .stats__item:nth-of-type(7) .stats__item-bar {
        width: 51%;
        height: 30px;
        -webkit-transition-delay: 0.7s;
                transition-delay: 0.7s;
      }
      .stats__item:nth-of-type(8) .stats__item-bar {
        width: 50.1%;
        height: 30px;
        -webkit-transition-delay: 0.8s;
                transition-delay: 0.8s;
      }
      .stats__item .stats__item-num {
        margin-right: 25px;
      }
    }
    .stats__item:hover {
      opacity: 0.7;
    }
    .stats__item-bar {
      -webkit-box-ordinal-group: 1;
      -webkit-order: 0;
          -ms-flex-order: 0;
              order: 0;
      width: 40px;
      background: white;
      -webkit-transform: scaleY(0) translate3d(0, 0, 0);
              transform: scaleY(0) translate3d(0, 0, 0);
      cursor: pointer;
      -webkit-transform-origin: center bottom;
              transform-origin: center bottom;
      -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
      transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
      box-shadow: 10px 15px rgba(0, 0, 0, 0.2);
    }
    .stats__item-bar.active {
      -webkit-transform: none;
              transform: none;
    }
    .stats__item-num {
      margin-top: 25px;
      opacity: 1;
      color: white;
    }
    .stats__overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 25px;
      -webkit-transform: scale(1.5);
              transform: scale(1.5);
      visibility: hidden;
      opacity: 0;
      -webkit-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
      transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    }
    .stats__overlay.active {
      opacity: 1;
      visibility: visible;
      -webkit-transform: none;
              transform: none;
    }
    @media (max-width: 690px) {
      .stats__overlay {
        padding: 12.5px;
      }
    }
    .stats__overlay-avg {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 350px;
      height: 350px;
      border-radius: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      text-align: center;
      background: #4c2e34;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-flow: column wrap;
          -ms-flex-flow: column wrap;
              flex-flow: column wrap;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
    .stats__overlay-avg > p {
      margin: 0;
    }
    .stats__overlay-avg .avg {
      font-size: 100px;
      font-weight: 700;
    }
    @media (max-width: 690px) {
      .stats__overlay-avg {
        width: 240px;
        height: 240px;
      }
      .stats__overlay-avg .avg {
        font-size: 65px;
      }
    }
    .stats__overlay-info {
      position: absolute;
      bottom: 25px;
      left: 50px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
    }
    @media (max-width: 690px) {
      .stats__overlay-info {
        left: 25px;
      }
    }
    .stats__overlay-info-half {
      margin-right: 25px;
    }
    .stats__overlay-info-half p {
      margin: 0;
      line-height: 1.2;
    }
    .stats__overlay-info-half p:first-child {
      font-size: 50px;
      font-weight: 700;
    }
    @media (max-width: 690px) {
      .stats__overlay-info-half p:first-child {
        font-size: 24px;
      }
    }
    .stats__overlay-back {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      cursor: pointer;
    }
    .stats__overlay-back > svg {
      -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
      transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    }
    .stats__overlay-back:hover > svg {
      -webkit-transform: translateX(-5px);
              transform: translateX(-5px);
    }
    .stats__overlay-back p {
      font-weight: 700;
      font-size: 24px;
      margin: 0 0 0 12.5px;
    }
    @media (max-width: 690px) {
      .stats__overlay-back p {
        font-size: 18px;
      }
    }

}

#Interest03 {

    body {
      font-family: Open Sans, "Helvetica Neue", "Helvetica", Helvetica, Arial,   sans-serif;
      font-size: 13px;
      color: #666;
      position: relative;
      -webkit-font-smoothing: antialiased;
      margin: 0;
    }

    * {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }

    body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {
      margin: 0;
      padding: 0;
      font-size: 13px;
      direction: ltr;
    }

    .sectionClass {
      padding: 20px 0px 50px 0px;
      position: relative;
      display: block;
    }

    .fullWidth {
      width: 100% !important;
      display: table;
      float: none;
      padding: 0;
      min-height: 1px;
      height: 100%;
      position: relative;
    }


    .sectiontitle {
      background-position: center;
      margin: 30px 0 0px;
      text-align: center;
      min-height: 20px;
    }

    .sectiontitle h2 {
      font-size: 30px;
      color: #222;
      margin-bottom: 0px;
      padding-right: 10px;
      padding-left: 10px;
    }


    .headerLine {
      width: 160px;
      height: 2px;
      display: inline-block;
      background: #101F2E;
    }


    .projectFactsWrap{
        display: flex;
      margin-top: 30px;
      flex-direction: row;
      flex-wrap: wrap;
    }


    #projectFacts .fullWidth{
      padding: 0;
    }

    .projectFactsWrap .item{
      width: 25%;
      height: 100%;
      padding: 50px 0px;
      text-align: center;
    }

    .projectFactsWrap .item:nth-child(1){
      background: rgb(16, 31, 46);
    }

    .projectFactsWrap .item:nth-child(2){
      background: rgb(18, 34, 51);
    }

    .projectFactsWrap .item:nth-child(3){
      background: rgb(21, 38, 56);
    }

    .projectFactsWrap .item:nth-child(4){
      background: rgb(23, 44, 66);
    }

    .projectFactsWrap .item p.number{
      font-size: 40px;
      padding: 0;
      font-weight: bold;
    }

    .projectFactsWrap .item p{
      color: rgba(255, 255, 255, 0.8);
      font-size: 18px;
      margin: 0;
      padding: 10px;
      font-family: 'Open Sans';
    }


    .projectFactsWrap .item span{
      width: 60px;
      background: rgba(255, 255, 255, 0.8);
      height: 2px;
      display: block;
      margin: 0 auto;
    }


    .projectFactsWrap .item i{
      vertical-align: middle;
      font-size: 50px;
      color: rgba(255, 255, 255, 0.8);
    }


    .projectFactsWrap .item:hover i, .projectFactsWrap .item:hover p{
      color: white;
    }

    .projectFactsWrap .item:hover span{
      background: white;
    }

    @media (max-width: 786px){
      .projectFactsWrap .item {
         flex: 0 0 50%;
      }
    }

    /* AUTHOR LINK */


    footer{
      z-index: 100;
      padding-top: 50px;
      padding-bottom: 50px;
      width: 100%;
      bottom: 0;
      left: 0;
    }

    footer p {
    color: rgba(255, 255, 255, 0.8);
      font-size: 16px;
      opacity: 0;
      font-family: 'Open Sans';
      width: 100%;
        word-wrap: break-word;
      line-height: 25px;
      -webkit-transform: translateX(-200px);
      transform: translateX(-200px);
      margin: 0;
    }

    footer .authorWindow a{
      text-decoration: none;
    }

    footer p strong {
        color: rgba(255, 255, 255, 0.9);
      margin-left: 5px;
      cursor:pointer;
    }

    .about-me-img {
      width: 120px;
      height: 120px;
      left: 10px;
      /* bottom: 30px; */
      position: relative;
      border-radius: 100px;
      border: 1px solid #4A5F67;
    }


    .about-me-img img {
      margin-top: 8px;
      margin-left: 5px;
    }


    .authorWindow{
      width: 600px;
      background: #101F2E;
      padding: 22px 20px 22px 20px;
      border-radius: 5px;
      overflow: hidden;
    }

    .authorWindowWrapper{
      display:none; 
      left: 110px;
      bottom: -20px;
      padding-left: 30px;
      position: absolute;
    }


    .trans{
      opacity: 1;
      -webkit-transform: translateX(0px);
      transform: translateX(0px);
      transition: all 500ms ease;
    }

    @media screen and (max-width: 768px) {
        .authorWindow{
             width: 210px;
        }

        .authorWindowWrapper{
                 bottom: -170px;
      margin-bottom: 20px;
        }

        footer p{
              font-size: 14px;
        }
    }

}
















