@keyframes homepage1 {
	20% { transform: translateY(-12px); }
	400% { transform: translateY(0px); }
}

@keyframes homepage2 {
	20% { transform: translateY(-12px); }
	400% { transform: translateY(0px); }
}

.HomepageContainer {
    background-image: url('/Content/img/Hompage1.jpg');
    background-repeat: no-repeat;
    background-position: 50%;
    background-color: white;
    height: 180px;
    border-bottom: #dddddd solid 1px;
    background-position-y: 20px;
    padding: 0 $HomepageContainerMobile;
    background-size: contain;

    @media only screen and (min-width: 40.063em) { 
        padding: 30px $HomepageContainerTablet;
        height: 240px;
        background-position-y: 7em;
        padding-top: 125px !important;
        
    }

    @media only screen and (min-width: 64.063em) {
        padding: 30px $HomepageContainerDesktop;
        height: 560px;    
        background-image: url('/Content/img/Hompage-Picture2.jpg');
        background-position-y: 7em;
        background-size: inherit;
    }

    @media only screen and (min-width: 90.063em) { 
        padding: 30px $HomepageContainerXDesktop;
        background-position-y: 7em;
    }
}



.HomepageProjects {
    text-align: center;
    padding: 0 10%;

    h3 {
        font-size: 16px;
        padding: 20px 0;       
    }

}

.HomepageBottomContainer {
    padding: 40px 0;
    text-align: left;

    h3 {
        margin: 0px;
        text-align: center;
        position: relative;
        top: -12px;
        display: inline-block;
        width: 45%;
        font-size: 1.2em;
        color: #333;
    }

    @media only screen and (min-width: 40.063em) { 
        padding: 60px $HomepageBottomContainerTablet;

        h3 {
            width: 35%;
            font-size: 1.6em;
            position: relative;
            top: -16px;
        }
    }

    @media only screen and (min-width: 64.063em) {
        padding: 60px $HomepageBottomContainerDesktop;

        h3 {
            width: 25%;
        }
    }

    @media only screen and (min-width: 90.063em) { 
        padding: 60px $HomepageBottomContainerXDesktop;
    }
}

.oi {
  height: 1px;
  background: #DDD;
  border-bottom: #FFF solid 1px;
  margin-bottom: 30px;
  text-align: center;
  margin-top: 20px;

    h3 {
        color: #333;
        font-family: "helveticaltstd";
        letter-spacing: 1px;
        font-weight: 900;
        margin: 0px;
        text-align: center;
        font-size: 24px;
        position: relative;
        top: -18px;
        background: #f8f8f8 url(/Content/img/sos.png) repeat;
        display: inline-block;
        width: 60%;
    }

    @media only screen and (min-width: 64.063em) { 

        h3 {
            width: 25%;
        }
    }
}

.HomepageProjectBox {
    margin-bottom: 20px;
    padding: 10px 10px 30px 10px;
    text-align: center;
    border-bottom: 1px solid rgb(179, 179, 179);

    h1 {
        padding: 5px 10px;
        width: auto;
        color: white;
        background-color: #2B9CD1;
        font-size: 1.6em;        
        font-family: "ff-prater-sans-web";
        text-shadow: 1px 1px 2px black;
    }

    p {
        margin: 0;
    }

    @media only screen and (min-width: 40.063em) and (max-width: 64em) {
        width: 44.5%;
        margin: 0 2% 0 0;
        display: inline-block;
        height: 200px;    
        border-bottom: none;       
        
        h1 {
            display: inline-block;
            margin: 0;
        }      

    }

    @media only screen and (min-width: 64.063em) { 
        width: 45%;
        margin: 0 2% 0 0;
        display: inline-block;
        height: 200px;    
        text-align: left;
        border-bottom: none;

        h1 {
            padding: 5px 10px;
            display: inline-block;
            margin: 0;
        }
    }

}


.HomepageProjectBoxFix {
    margin-right: 0;
    vertical-align: top;
}

.HomepageProjectParent {
    text-align: center;
}


.HomepageSidesLeft {
    height: auto;
    width: 49%;
    display: inline-block;
    margin-top: 60px;
    vertical-align: top;

    h1 {
        font-family: "pratersanstwo";
        font-weight: 600;
        font-size: 1em;
        margin: 0;
        transform: translateY(0);
        animation: homepage1 5s infinite;
    
        @include small {
            font-size: 1.4em;
        }        
    }

    p {
        display: none;
    }

    @media only screen and (min-width: 40.063em) { 
        margin-top: inherit;

        h1 {
            font-size: 2.2em;
        }

        p {
            width: 200px;
            padding: 0;
            margin: 0;
            color: #888888;
            display: inline-block;
            font-size: .9em;
        }
    }

    @media only screen and (min-width: 64.063em) {

        h1 {
            font-size: 3.2em;
        }

        p {
            width: 50%;
            padding: 0;
            margin: 0;
            color: #888888;
            font-size: 1.1em;
            line-height: 1.8em;
        }
    }

    @media only screen and (min-width: 90.063em) { 
        p {
            width: 50%;
            padding: 0;
            margin: 0;
            color: #888888;
        }
    }
}

.HomepageSidesRight {
    height: 100px;
    width: 49%;
    display: inline-block;
    text-align: right;
    margin-top: 60px;

    @include small {
        margin-top: inherit;
    }

    h1 {
        font-family: "pratersanstwo";
        font-weight: 600;
        font-size: 1em;
        margin: 0;
        transform: translateY(0);
        animation: homepage2 3s infinite;

        @include small {
            font-size: 1.4em;
        }
    }

    p {
      display: none;
    }

    @media only screen and (min-width: 40.063em) { 


        h1 {
            font-size: 2.2em;
        }

        p {
            width: 200px;
            padding: 0;
            margin: 0;
            color: #888888;
            display: inline-block;
            font-size: .9em;
        }
    }

    @media only screen and (min-width: 64.063em) {

        h1 {
            font-size: 3.2em;
        }

        p {
            width: 50%;
            padding: 0;
            margin: 0;
            color: #888888;
            font-size: 1.1em;
            line-height: 1.8em;
        }
    }

    @media only screen and (min-width: 90.063em) { 
        p {
            width: 50%;
            padding: 0;
            margin: 0;
            color: #888888;
        }
    }
}
