
$HomepageContainerMobile: 5%;
$HomepageContainerTablet: 5%;
$HomepageContainerDesktop: 5%;
$HomepageContainerXDesktop: 20%;

$HomepageBottomContainerMobile: 20%;
$HomepageBottomContainerTablet: 5%;
$HomepageBottomContainerDesktop: 5%;
$HomepageBottomContainerXDesktop: 20%;