.buttonPort {
    background: #c0392b;
    width: 100%;
    padding: 4px 0;
    border-radius: 3px;
    display: inline-block;
    margin-bottom: 2em;

    span {
      color: white;
      text-align: center;
      letter-spacing: 1px;
      font-weight: 100;
      font-size: 1.8em;
      display: block;
      font-family: 'league-Gothic';
      margin: 10px 0;
    }

    .buttonPort:hover {
        cursor: pointer;
    }


    @media only screen and (min-width: 40.063em) { 

    }

    @media only screen and (min-width: 64.063em) {

    }

}



.PortBottomText {
    margin: 2em 0;

    h4 {
        display: inline-block;
        width: 100%;
        vertical-align: top;
        margin: 0 0;
        font-size: .9em;
        font-weight: 100;
        color: gray;
    }

    @media only screen and (min-width: 40.063em) { 

    }

    @media only screen and (min-width: 64.063em) {
        margin-top: 4em;
    }
        
}

.PortButton {
    position: relative;
    top: 213px;
    display: inline;
    left: 26%;

    span {
        color: white;
        font-family: 'league-gothic';
        display: inline-block;
        padding-top: 10px;
        font-size: 1.4em;
        letter-spacing: 1px;
        display: inline-block;
        height: 40px;
        width: 50%;
        text-align: center;
        background-color: green;
    }

    @media only screen and (min-width: 40.063em) { 
        display: none;
    }

}

.disable {
    background-color: lightgray !important;
    color: black !important;
}

@-webkit-keyframes wiggle {
	0% {
		-webkit-transform:rotate(4deg);
	}
	50% {
		-webkit-transform:rotate(-4deg);
	}
	100% {
		-webkit-transform:rotate(4deg);
	}
}
 
.wiggle:hover {
    
    
    @media only screen and (min-width: 40.063em) { 
        -webkit-animation: wiggle 1.5s infinite;
    }

}