.PortHeader {
    padding: 0 5%;
    margin-top: 10px;
    padding-bottom: 7em;

    @media only screen and (min-width: 40.063em) { 
        padding-bottom: 25em;
    }

    @media only screen and (min-width: 64.063em) {
        padding-bottom: 7em;
    }

    @media only screen and (min-width: 90.063em) { 
        padding: 0 20%;
          height: 50em;
    }
}

.Project1 {
    background-color: green;
    height: 120px;
    margin-bottom: 20px;
    box-shadow: 2px 3px 3px black;

    @media only screen and (min-width: 40.063em) { 
        position: absolute;
        background-image: url("/Content/img/Portfolio/Port.png");
        background-repeat: no-repeat;
        background-size: contain;
        width: 11.5em;
        height: 100%;
        display: block;
        margin-bottom: 0;
        box-shadow: none;
        background-color: transparent;
    }

    @media only screen and (min-width: 64.063em) {
        position: absolute;
        background-image: url("/Content/img/Portfolio/Port.png");
        background-repeat: no-repeat;
        background-size: contain;
        width: 11.5em;
        height: 100%;
        display: block;
        margin-bottom: 0;
        box-shadow: none;
        background-color: transparent;
    }

    @media only screen and (min-width: 90.063em) { 

    }
}

.Project2 {
    background-color: blue;
    height: 120px;
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 2px 3px 3px black;

    @media only screen and (min-width: 40.063em) { 
        position: absolute;
        background-image: url("/Content/img/Portfolio/BreatheDotA.png");
        background-repeat: no-repeat;
        background-size: contain;
        width: 16.5em;
        height: 12em;
        top: 1.5em;
        display: block;
        margin-bottom: 0;
        box-shadow: none;
        background-color: transparent;
        left: 13em;       
    }

    @media only screen and (min-width: 64.063em) {
        position: absolute;
        background-image: url("/Content/img/Portfolio/BreatheDotA.png");
        background-repeat: no-repeat;
        background-size: contain;
        width: 16.5em;
        height: 12em;
        top: 1.5em;
        display: block;
        margin-bottom: 0;
        box-shadow: none;
        background-color: transparent;
        left: 15em;
    }

    @media only screen and (min-width: 90.063em) { 

    }
}

.Project3 {
    background-color: orange;
    height: 120px;
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 2px 3px 3px black;

    @media only screen and (min-width: 40.063em) { 
        position: absolute;
        background-image: url("/Content/img/Portfolio/CounterStrike.png");
        background-repeat: no-repeat;
        background-size: contain;
        width: 11.5em;
        height: 100%;
        top: 19em;
        display: block;
        margin-bottom: 0;
        box-shadow: none;
        background-color: transparent;    
    }

    @media only screen and (min-width: 64.063em) {
        position: absolute;
        background-image: url("/Content/img/Portfolio/CounterStrike.png");
        background-repeat: no-repeat;
        background-size: contain;
        width: 11.5em;
        height: 100%;
        top: 15em;
        display: block;
        margin-bottom: 0;
        box-shadow: none;
        background-color: transparent;
        left: 15em;
    }

    @media only screen and (min-width: 90.063em) { 

    }
}

.Project4 {
    background-color: red;
    height: 120px;
    width: 100%;
    box-shadow: 2px 3px 3px black;

    @media only screen and (min-width: 40.063em) { 
        position: absolute;
        background-image: url("/Content/img/Portfolio/Github.png");
        background-repeat: no-repeat;
        background-size: contain;
        width: 16.5em;
        height: 12em;
        top: 13.5em;
        display: block;
        margin-bottom: 0;
        box-shadow: none;
        background-color: transparent;
        left: 13em;   
    }

    @media only screen and (min-width: 64.063em) {
        position: absolute;
        background-image: url("/Content/img/Portfolio/Github.png");
        background-repeat: no-repeat;
        background-size: contain;
        width: 16.5em;
        height: 12em;
        top: 12.7em;
        display: block;
        margin-bottom: 0;
        box-shadow: none;
        background-color: transparent;
        left: 24.5em;
    }

    @media only screen and (min-width: 90.063em) { 

    }
}

@keyframes PortBounce {
	20% { transform: translateX(-4px); }
	100% { transform: translateX(0px); }

	20% { -moz-transform: translateX(-4px); }
	100% { -moz-transform: translateX(0px); }

    20% { -ms-transform: translateX(-4px); }
    100% { -ms-transform: translateX(0px); }
}

.PRojectEffect:hover {
    transition: ease-in 1s;
    animation: PortBounce 3s infinite;
    transform: translateX(0);

     -moz-transition: ease-in 1s;
     -moz-animation: PortBounce 3s infinite;
     -moz-transform: translateX(0);

    -o-transition: ease-in 1s;
    -o-animation: PortBounce 3s infinite;
    -o-transform: translateX(0);


}

.PortText {
    width: 100%;

    h1 {
      font-size: 5em;
      color: #111;
      margin: .3em 0;
      margin-top: .5em;
      line-height: 1em;
      font-family: "ff-prater-sans-web";    
    }

    p {
        color: rgb(150, 150, 150);
        font-family: 'league-Gothic';
        font-size: 1.5em;
        text-shadow: 1px 1px 3px white;
    }

    span {
        color: rgba(38, 124, 188, 0.97);
        font-size: 1.4em;
        font-weight: bold;
        font-family: 'league-Gothic';
    }

    
    @media only screen and (min-width: 40.063em) { 

    }

    @media only screen and (min-width: 64.063em) {
        width: 50%;
        display: inline-block;

        h1 {
           margin-top: 1em;
        }


    }

    @media only screen and (min-width: 90.063em) { 

    }
}

.PortContent {

    @media only screen and (min-width: 40.063em) { 
        width: 70%;
        margin: 0 auto;
        height: 300px;
        position: relative;
    }

    @media only screen and (min-width: 64.063em) {
        width: 48%;
        display: inline-block;
        height: 300px;
        position: relative;
        left: 2em;
        padding-left: 2%;
        vertical-align: top;
        margin-top: 2em;
    }

    @media only screen and (min-width: 90.063em) { 
        width: 40%;
        display: inline-block;
    }
}