.AboutContainer {
    background-color: white;
    padding: 50px 30px;
    border-bottom: #dddddd solid 1px;

    h1 {
        font-family: "crete-round";
        margin: 0;
        font-size: 3em;

        @media only screen and (min-width: 40.063em) { 
            font-size: 4em;
        }
    }

    h2 {
        font-size: 1.5rem;
        color: #888888;
        line-height: 1.4em;
        margin-bottom: 0.7em;
        font-weight: normal;
    }

    p {
        color: #555555; 
        margin-bottom: 1.4em;
        line-height: 1.6em;
    }

    @media only screen and (min-width: 40.063em) { 
        padding: 50px $AboutContainerTablet;
    }

    @media only screen and (min-width: 64.063em) {
        padding: 50px $AboutContainerDesktop;
    }

    @media only screen and (min-width: 90.063em) { 
        padding: 50px $AboutContainerDesktopX
    }
}

.AboutTop {
    margin-bottom: 3em;
    border-bottom: 1px solid lightgray;

    @media only screen and (min-width: 40.063em) { 
        margin-bottom: 1.5em;    

    }
}

.AboutIntro {


    @media only screen and (min-width: 40.063em) { 
        display: inline-block;
        vertical-align: top;
    }

    @media only screen and (min-width: 64.063em) {
        width: 40%; 
        display: inline-block;
        vertical-align: top;
    }

    @media only screen and (min-width: 90.063em) { 
        width: 40%; 
        display: inline-block;
        vertical-align: top;
    }
}

.FaceImage {

    img {
        width: 100%;
        margin-left: 5%;
    }

    @media only screen and (min-width: 40.063em) { 
        display: inline-block;
        text-align: right;

        img {
            width: 60%;
            margin-right: 20%;
            margin-left: 0;
        }
    }

    @media only screen and (min-width: 64.063em) {
        width: 59%;

        img {
            width: 80%;
        }
    }

    @media only screen and (min-width: 90.063em) { 
        width: 59%;

        img {
            width: 80%;
            margin-right: 10%;
        }

    }
}

.FaceSmallImages {
    ul {
        padding: 0;
        text-align: center;
    }

    @media only screen and (min-width: 40.063em) { 
        margin-top: 4em;
    }

    @media only screen and (min-width: 64.063em) {
        margin-top: 2em;
    }

    @media only screen and (min-width: 90.063em) { 
        margin: 2em 0 0 0;
    }
}


.image {
    width: 140px;
    height: 75px;
    display: inline-block;

    img {
        max-width: 100%;
        height: 50px;
    }

    a {
        display: block;
        width: auto;
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
        padding: 5px;
    }

    @media only screen and (min-width: 40.063em) { 
        width: 200px;
        margin-right: 10px;
        margin-bottom: 30px;

        img {
            max-width: 100%;
            height: 75px;
        }
    }

    @media only screen and (min-width: 64.063em) {
        width: 150px;
        margin-right: 10px;
        margin-bottom: 30px;

        img {
            max-width: 100%;
            height: 75px;
        }    }

    @media only screen and (min-width: 90.063em) { 
        width: 14%;
        margin-right: 10px;

        img {
            max-width: 100%;
            height: 75px;
        }
    }
}

.InterestImageContainer {
    text-align: center;
    padding: 30px;

    ul {
        padding: 0;
    }

    li {
        margin-bottom: 30px;
    }

    @media only screen and (min-width: 40.063em) { 
        padding: 30px $InterestImageContainerDesktop;
    }

}

.Interest {
    background-color: white;
    width: 100%;
    height: 300px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
}

