
@{
    ViewBag.Title = "Index";
}

<div class="HomepageContainer">
    <div class="HomepageSidesLeft">
        <h1>Designer</h1>
        <p>UI/UX Designer with a passion for designing beautiful and functional user experiences. Minimalist who believes that less is more.</p>
    </div>
    <div class="HomepageSidesRight">
        <h1>&lt;Coder&gt;</h1>
        <p>Front End Developer who focuses on writing clean, elegant and efficient code.Love HTML, CSS, WordPress and a touch of jQuery.</p>    </div>
</div>

<div class="HomepageBottomContainer">
    
    <div class="oi">
        <h3>Some of My Latest Work</h3>
    </div>

    <div class="HomepageProjectParent">
        <div class="HomepageProjectBox">
            <div class="HomepageBuiltProjects1"></div>
            <span>BreatheDotA</span>
        </div>
        <div class="HomepageProjectBox HomepageProjectBoxFix">
            <div class="HomepageBuiltProjects2"></div>
            <span>BreatheDotA</span>
        </div>
    </div>

</div>