@{
    ViewBag.Title = "Index";
}

<div class="HomepageContainer">
    <div class="HomepageSidesLeft">
        <h1>Designer</h1>
        <p>UI/UX Designer with a passion for designing beautiful and functional user experiences. Minimalist who believes that less is more.</p>
    </div>
    <div class="HomepageSidesRight">
        <h1>&lt;Coder&gt;</h1>
        <p>Front End Developer who focuses on writing clean, elegant and efficient code. Love HTML, CSS, Umbraco and a touch of jQuery.</p>
    </div>
</div>

<div class="HomepageBottomContainer">

    <div class="oi">
        <h3>Some of My Latest Work</h3>
    </div>

    <div class="HomepageProjectParent">

        <div class="view view-ninth">
            <img src="/Content/img/icon2.jpg" />
            <div class="mask mask-1"></div>
            <div class="mask mask-2"></div>
            <a href="http://breathedota.azurewebsites.net/">
                <div class="content">
                    <h2>BreatheDotA</h2>
                    <p>Not Complete</p>
                </div>
            </a>

        </div>

        <div class="view view-ninth">
            <img src="/Content/img/icon6.jpg" />
            <div class="mask mask-1"></div>
            <div class="mask mask-2"></div>
            <a href="www.google.com">
                <div class="content">
                    <h2>Mygelb.com</h2>
                    <p>Not a template. 100% Custom made.</p>
                </div>
            </a>
        </div>

        <div class="view view-ninth">
            <img src="/Content/img/icon1.jpg" />
            <div class="mask mask-1"></div>
            <div class="mask mask-2"></div>
            <a href="#">
                <div class="content">
                    <h2>Counterstrike Template</h2>
                    <p>Made for my first client</p>
                </div>
            </a>

        </div>
    </div>

</div>