
@{
    ViewBag.Title = "Index";
}

<div class="HomepageIndex"></div>

<div class="HomepageProjects">
    <h3>Some of my latest work</h3>

    <div class="HomepageProjectBox"></div>
    <div class="HomepageProjectBox"></div>
    <div class="HomepageProjectBox"></div>

</div>