
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="WorkFlowTopSection">
    <div class="WorkflowPadding">
        <div class="WFCol">
            <h1>100% Self Taught. What's My Trick?</h1>
            <h3>Always Keep Learning</h3>
        </div>
    </div>
</section>

<section class="WorkFlowStep1Section">
    <div class="WorkflowPaddingStep1">
        <div class="Steps">
            <span>1</span>
        </div>
        <div class="StepsContainer">
            <h1>The Beginning: Planning & Wireframing</h1>
            <p>Wireframing is an important step in any screen design process. It primarily allows you to define the information hierarchy of your design, making it easier for you to plan the layout according to how you want your user to process the information. Nothing is quicker than using pen and paper to come up with rough drafts. Everything about the entire website is mocked up right here: Goals, Audiance, SEO, Wireframes, and Content</p>
        </div>

        <div class="Step1Images">
            <img src="/Content/img/Workflow/Frame1.jpg" alt="" />
            <img class="removeSmall" src="/Content/img/Workflow/Frame2.jpg" alt="" />
            <img src="/Content/img/Workflow/Frame3.jpg" alt="" />
        </div>
    </div>
</section>

<section class="WorkFlowStep2Section">
    <div class="WorkflowPaddingStep1">
        <div class="Steps">
            <span>2</span>
        </div>
        <div class="StepsContainer">
            <h1>Desinger Phase: From Wireframe to Color</h1>
            <p>After wireframing the website it's time to designing the graphics, textures, and images to insert into the website. Browsing other sources of inspritation and great looking material is key. Codrops, Codepen, Dribble, Pintrest, Freekit, are only a few sources out of many of inspriation. Photoshop and Illustor are the major tools use to create the artwork.</p>
        </div>

        <div class="Step2Images">
            <img src="/Content/img/Workflow/Computer.png" alt="" />
        </div>

        <div class="Step2Box">
            <div class="Step2TopBox">
                <h3>A few things about Designing</h3>
                <p>Just to mention a few things I have experience with: Vector vs Raterzing, SVG, Pen tool, Lossy vs lossey, Image Compression and optmiation, Clipping & MAsking, RAW Editing, and much more.</p>
            </div>
            <div class="Step2BottomBox">
                <div class="Step2LeftBox">
                    <h3>Design Philosophy</h3>
                    <ul class="step2ul">
                        <li><a href="#">Color Theory</a></li>
                        <li><a href="#">Negative Spacing</a></li>
                        <li><a href="#">Golden Ratio</a></li>
                        <li><a href="#">Typograpy</a></li>
                    </ul>

                </div>
                <div class="Step2RightBox">
                    <h3>Experience With:</h3>
                    <ul class="step2ul">
                        <li>Photoshop CS6</li>
                        <li>Illustator CS6</li>
                        <li>InDesign</li>
                        <li>Light Room</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="WorkFlowStep3Section">
    <div class="WorkflowPaddingStep1">
        <div class="Steps">
            <span>3</span>
        </div>

        <div class="StepsContainer">
            <h1>Web Developer: Putting Everything Together</h1>
            <p>
                Ajax, JQuery, OOP, JavaScript, CMS, MV* Frameworks, HTML, CSS, SASS/LESS, Gulp/Grunt, JSON, Forms, and the list continues to keep going. Depending on what the web application does it depends what tools will be best to use. The most important part is to keep maintaiable code that works across multiple browsers and different screen sizes.
            </p>
        </div>

        <div class="Step3FlowLeft">
            <h1>Things I keep in Mind</h1>
        </div><!--
        --><div class="Step3FlowRight">
                   <div class="Step3List">
                       <h3>A Few of the Tools I Use</h3>
                       <ul>
                           <li>
                               <i class="fa fa-css3 fa-3x Step3Style"></i>
                               <div class="Step3Box">
                                   <h2>Preprocessor</h2>
                                   <span>Sass</span>
                               </div>
                           </li>
                           <li>
                               <i class="fa fa-tasks fa-3x Step3Style"></i>
                               <div class="Step3Box">
                                   <h2>Automation</h2>
                                   <span>Gulp / Grunt</span>
                               </div>
                           </li>
                           <li>
                               <i class="fa fa-desktop fa-3x Step3Style"></i>
                               <div class="Step3Box">
                                   <h2>Virtual Machine</h2>
                                   <span>Vmware</span>
                               </div>
                           </li>
                           <li>
                               <i class="fa fa-github-square fa-3x Step3Style"></i>
                               <div class="Step3Box">
                                   <h2>Version Control</h2>
                                   <span>Github</span>
                               </div>
                           </li>
                           <li>
                               <i class="fa fa-windows fa-3x Step3Style"></i>
                               <div class="Step3Box">
                                   <h2>IDE</h2>
                                   <span>Visual Studio</span>
                               </div>
                           </li>

                       </ul>
                   </div>
                   <div class="Step3List Step3Padd">
                       <h3>Scripting, Programming, Frameworks</h3>
                       <ul class="Step3Lang">
                           <li>
                               <img src="/Content/img/Workflow/Icons/HTML.svg" alt="" />
                               <span>HTML 5</span>
                           </li>
                           <li>
                                <img src="/Content/img/Workflow/Icons/CSS.svg" alt="" />
                               <span>CSS3</span>
                           </li>
                           <li>
                                <img src="/Content/img/Workflow/Icons/JS.svg" alt="" />
                               <span>JavaScript</span>
                           </li>
                           <li>
                                <img src="/Content/img/Workflow/Icons/JQ.svg" alt="" />
                               <span>JQuery</span>
                           </li>
                       </ul>
                   </div>               
        </div>
    </div>
</section>

<section class="WorkFlowStep4Section">
    <div class="WorkflowPaddingStep1 AlignFix">
        <div class="Steps">
            <span>4</span>
        </div>
        <div class="StepsContainer">
            <h1>Development Enviroment: Making the web application work </h1>
            <p>Here is where the developer tests code and checks whether the application runs successfully with that code.</p>
        </div>

        <div class="Steps4Col">
            <div class="Step4Filler">
                <i class="fa fa-database fa-5x bounce Steps4Obj1"></i>
            </div>
            <div class="Step4Text">
                <h3>Database: SQLServer</h3>
                <p>Installed, Managed, and configured Microsoft SQLServer. Ability to do basic SQL knowledge and access data.</p>
            </div>
        </div>

        <div class="Steps4Col Step4Fix">
            <div class="Step4Filler">
                <i class="fa fa-server fa-5x bounce2 Steps4Obj2"></i>
            </div>
            <div class="Step4Text">
                <h3>Web Server: IIS</h3>
                <p>Install and run multiple virtual instances on my local network. Allows for quick prototyping to test the web application. </p>
            </div>
        </div>

        <div class="Steps4Col">
            <div class="Step4Filler">
                <i class="fa fa-windows fa-5x bounce Steps4Obj3"></i>
            </div>
            <div class="Step4Text">
                <h3>Dploy.io</h3>
                <p>Web service that takes Github Repositorys and publishes those changes to a local backup server.</p>
            </div>
        </div>

    </div>
</section>

<section class="WorkFlowStep5Section">
    <div class="WorkflowPaddingStep1 AlignFix">
        <div class="Steps">
            <span>5</span>
        </div>
        <div class="StepsContainer">
            <h1>Production Server: Configuring The Website To Go Live.</h1>
        </div>

        <div class="Step5LeftCol">
            <div class="Step5IMGTag"></div>
            <div class="Step5IMGText">
                <h3>Small Header Goes Here</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In mollis, nibh vitae vulputate sagittis, elit magna eleifend magna, at finibus justo orci vitae ipsum. Duis lacinia nibh id metus ultrices, nec tristique metus porta. </p>
            </div>
        </div>
        <!--
        -->
        <div class="Step5LeftCol2">
            <ul class="Step5Listing">
                <li>
                    <div class="Step5Img"></div>
                    <div class="Step5Descript">
                        <h3><b>Web Hosting:</b> Windows Azure</h3>
                        <h2>Cloud Computing Platform & Services</h2>
                    </div>
                </li>
                <!--
                -->
                <li>
                    <div class="Step5Img"></div>
                    <div class="Step5Descript">
                        <h3><b>Domain:</b> Purchase Domain</h3>
                        <h2>NameCheap.com & GoDaddy.com</h2>
                    </div>
                </li>
                <!--
                -->
                <li>
                    <div class="Step5Img"></div>
                    <div class="Step5Descript">
                        <h3><b>Nameservers:</b> Configuring Domain</h3>
                        <h2>Domain Name System(DNS)</h2>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>