
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="AboutContainer">
    <section class="AboutTop">
        <div class="AboutIntro">
            <h1>About me!</h1>

            <h2>I'm a Front End Developer from the tiny village of Richfield, North Carolina.</h2>

            <p>
                Born in the Philippines but raised in NC, my name is Mygel Bergstresser and I'm 24 years old. I enjoy breaking down complex problems into simple, but elegant, designs. If i'm not coding or designing, you'll find me making friends or learning a new hobby.
            </p>
        </div>
        <div class="FaceImage">
            <img src="/Content/img/AboutMe/AboutBanner.jpg" alt="" />
        </div>
    </section>

    <div class="FaceSmallImages">
        <ul>
            <li class="image">
                <a target="_blank" href="https://www.facebook.com/photo.php?fbid=10204560445516007&set=pcb.10204560455596259&type=1&theater">
                    <img src="/Content/img/AboutMe/20150502_234107.jpg" alt="" />
                </a>
            </li>
            <li class="image">
                <a target="_blank" href="https://www.facebook.com/photo.php?fbid=10204560445476006&set=pcb.10204560455596259&type=1&theater">
                    <img src="/Content/img/AboutMe/20150508_160539.jpg" alt="" />
                </a>
            </li>
            <li class="image">
                <a target="_blank" href="https://www.facebook.com/photo.php?fbid=10204560447636060&set=pcb.10204560455596259&type=1&theater">
                    <img src="/Content/img/AboutMe/Awesome%20(1%20of%205).jpg" alt="" />
                </a>
            </li>
            <li class="image">
                <a target="_blank" href="https://www.facebook.com/photo.php?fbid=10204560446916042&set=pcb.10204560455596259&type=1&theater">
                    <img src="/Content/img/AboutMe/Awesome%20(3%20of%205).jpg" alt="" />
                </a>
            </li>
            <li class="image">
                <a target="_blank" href="https://www.facebook.com/photo.php?fbid=10204560447196049&set=pcb.10204560455596259&type=1&theater">
                    <img src="/Content/img/AboutMe/Awesome%20(4%20of%205).jpg" alt="" />
                </a>
            </li>
            <li class="image">
                <a target="_blank" href="https://www.facebook.com/photo.php?fbid=10204560446836040&set=pcb.10204560455596259&type=1&theater">
                    <img src="/Content/img/AboutMe/Awesome%20(5%20of%205).jpg" alt="" />
                </a>
            </li>
        </ul>
    </div>
</div>


    <section class="Interest01">
        <div class="InterestImageContainer JunkieFixTop">
            <h1>The Ultimate Tech Junkie</h1>

            <h3>If It Uses Technology, Let Me Tinker With it!</h3>

            <div class="JunkieCol">
                <p>I've been fixing computers, Setting up networks, and deploying servers since 2009. Upgrading components on computers, diagnosing  software issues, and learning to use "The Google" has allowed me to push the limitations of technology to automate, entertain, and record the environment around us. </p>
            </div><!--

            --><div class="JunkieCol">
                <p>Having experience in IT has improved my workflow and adaptiveness in web development. Switching between Operating systems, learning new software, and keeping up with current trends gives me an edge on a field that is fast pace. </p>
            </div>

                <div class="center">
                    <div class="smartphone">
                        <div class="content">
                            <ul>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li style="width: 90%"></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li style="width: 60%"></li>
                                <li></li>
                                <li></li>
                                <li style="width: 70%"></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                        </div>
                    </div>

                    <div class="tablet">
                        <div class="content">
                            <div class="wrap">
                                <ul>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li style="width: 90%"></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li style="width: 60%"></li>
                                    <li></li>
                                    <li></li>
                                    <li style="width: 70%"></li>
                                    <li style="width: 50%"></li>
                                </ul>
                                <ul>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li style="width: 90%"></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li style="width: 60%"></li>
                                    <li></li>
                                    <li></li>
                                    <li style="width: 70%"></li>
                                    <li style="width: 80%"></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="laptop">
                        <div class="content">
                            <ul>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li style="width: 90%"></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li style="width: 60%"></li>
                                <li></li>
                                <li></li>
                                <li style="width: 70%"></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li style="width: 50%"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
    </section>

    <section class="Interest02">
        <div class="InterestImageContainer InterestImageContainerL">
            <div class="InterestLeftContainer">
                <h1>Coffee Level: Average</h1>

                <h3>Fuel For Every Developer!</h3>

                <p>The most overused topic every 'Developer mentions in a portfolio. It's not the coffee I love, it's the culture that it brings together. Meeting and socializing with other developers promotes collaboration and surrounds you with like minded people. What better place to meet people than Starbucks or the local espresso!
                </p>

                <p>Environments that encourage learning and innovation are the best places to work. Being social, learning to exchange ideas, and cultivating a positive atmosphere is important for Front End Development.</p>
            </div>

            <div class="InterestRightContainer">

                <main class="tableCoffee">
                    <div class="cup">
                        <div class="ear"></div>
                        <div class="coffee"></div>
                        <div class="spill">
                            <div class="highlight"></div>
                            <div class="highlight"></div>
                            <div class="highlight"></div>
                        </div>
                    </div>
                </main>

            </div>

        </div>
    </section>

    <section class="Interest03">
    <div class="InterestImageContainer InterestImageContainerL">

        <section class="BottomAlign">
            <div class="InterestLeftContainerMarvel">
                <div class="heroes">
                    <div class="hulk">
                        <div class="head"><div class="mouth"></div></div>
                        <div class="right-arm"></div>
                        <div class="fist"></div>
                        <div class="left-arm"></div>
                        <div class="body"></div>
                        <div class="right-leg"></div>
                        <div class="left-leg"></div>
                    </div>

                    <div class="captain">
                        <div class="head">A</div>
                        <div class="body"><div class="star"></div></div>
                        <div class="arms"></div>
                        <div class="shield"><div class="star"></div></div>
                        <div class="hands"></div>
                        <div class="legs"></div>
                        <div class="boots"></div>
                    </div>

                    <div class="ironman">
                        <div class="helmet"><div class="mask"></div></div>
                        <div class="right-arm"></div>
                        <div class="left-arm"></div>
                        <div class="body"><div class="power"></div></div>
                        <div class="right-leg"></div>
                        <div class="left-leg"></div>
                    </div>

                    <div class="thor">
                        <div class="helmet"></div>
                        <div class="head">
                            <div class="beard"></div>
                        </div>
                        <div class="cap"></div>
                        <div class="arm-right"></div>
                        <div class="arm-left"></div>
                        <div class="body"></div>
                        <div class="hammer"></div>
                        <div class="legs"></div>
                        <div class="feet"></div>
                    </div>
                </div>
            </div>
        </section>

        <div class="InterestRightContainerMarvel MarvelText">
            <h1>Marvel Movie Watcher</h1>

            <h3>Hulk. Easily the best.</h3>

            <p>
                Watching the sheer amount of ridiculousness unfold is insane. Insanely Awesome. It's not the superpowers, but the amount of years and dedication to make these movies happen for the sake of entertainment is incredible. The real super power is producers using modern technology to create masterpieces years ahead before the movie is released.
            </p>

            <p>Front End Development is rapidly changing and it's hard to stay up to date. Learning a new language, framework, or tool without understanding the importance in the scope of development can be wasteful. Anything to improve the user experience, promotes code maintainability, and solves a specific problem is what's important.</p>
           
        </div>



    </div>
</section>
