
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";

    @section fancybox {
        <link href="~/Content/js/vendor/fancybox/jquery.fancybox.css" rel="stylesheet" />
    }

    @section chartjs {
        <script>
        var pieData = [
           {
               value: 25,
               label: 'Java',
               color: '#811BD6'
           },
           {
               value: 10,
               label: 'Scala',
               color: '#9CBABA'
           },
           {
               value: 30,
               label: 'PHP',
               color: '#D18177'
           },
           {
               value: 35,
               label: 'HTML',
               color: '#6AE128'
           }
        ];

        var context = document.getElementById('skills').getContext('2d');
        var skillsChart = new Chart(context).Doughnut(pieData);

        var context = document.getElementById('skills2').getContext('2d');
        var skillsChart2 = new Chart(context).Pie(pieData);

        var context = document.getElementById('skills3').getContext('2d');
        var skillsChart3 = new Chart(context).Pie(pieData);
</script>
    }
}

<div class="AboutContainer">
    <section class="AboutTop">
        <div class="AboutIntro">
            <h1>About me!</h1>

            <h2>I'm a front end developer from the tiny village of Richfield, North Carolina.</h2>

            <p>
                My name is Mygel Bergstresser and I’m a designer/developer living in Seattle, Washington. My passion is breaking down complex problems into simple, yet meaningful design. If I'm not coding or designing you'll find me making friends or learning a new hobby.
            </p>
        </div>
        <div class="FaceImage">
            <img src="/Content/img/AboutMe/AboutBanner.jpg" alt="" />
        </div>
    </section>

    <div class="FaceSmallImages">
        <ul class="fade-in one">
            <li class="image">
                <a class="fancybox" rel="group" href="https://scontent.fsnc1-1.fna.fbcdn.net/hphotos-xlt1/v/t1.0-9/12705398_10206074889336156_5694708920022575145_n.jpg?oh=d43a59fc3142d7769c94ca195477eae6&oe=57338CB9">
                    <img src="https://scontent.fsnc1-1.fna.fbcdn.net/hphotos-xlt1/v/t1.0-9/12705398_10206074889336156_5694708920022575145_n.jpg?oh=d43a59fc3142d7769c94ca195477eae6&oe=57338CB9" />
                </a>
            </li>
            <li class="image">
                <a class="fancybox" rel="group" href="https://scontent.fsnc1-1.fna.fbcdn.net/hphotos-xap1/v/t1.0-9/12373326_10205802790613858_7433523437701657592_n.jpg?oh=2da0a6402e0161c4534d23fd2f45f180&oe=57651679">
                    <img src="https://scontent.fsnc1-1.fna.fbcdn.net/hphotos-xap1/v/t1.0-9/12373326_10205802790613858_7433523437701657592_n.jpg?oh=2da0a6402e0161c4534d23fd2f45f180&oe=57651679" alt="" />
                </a>
            </li>
            <li class="image">
                <a class="fancybox" rel="group" href="https://scontent.fsnc1-1.fna.fbcdn.net/hphotos-xpt1/v/t1.0-9/12196191_10205552604719367_1585335008889128412_n.jpg?oh=942816e2abd9b4d07a1f357b2129a7e2&oe=576AF001">
                    <img src="https://scontent.fsnc1-1.fna.fbcdn.net/hphotos-xpt1/v/t1.0-9/12196191_10205552604719367_1585335008889128412_n.jpg?oh=942816e2abd9b4d07a1f357b2129a7e2&oe=576AF001" alt="" />
                </a>
            </li>
            <li class="image">
                <a class="fancybox" rel="group" href="https://scontent.fsnc1-1.fna.fbcdn.net/hphotos-xpt1/v/t1.0-9/11219646_10153791623912859_8344944709151335795_n.jpg?oh=502233e82a1ca00a7310b00d54ca1cb1&oe=57266D21">
                    <img src="https://scontent.fsnc1-1.fna.fbcdn.net/hphotos-xpt1/v/t1.0-9/11219646_10153791623912859_8344944709151335795_n.jpg?oh=502233e82a1ca00a7310b00d54ca1cb1&oe=57266D21" alt="" />
                </a>
            </li>
            <li class="image">
                <a class="fancybox" rel="group" href="https://scontent.fsnc1-1.fna.fbcdn.net/hphotos-xpa1/v/t1.0-9/10399232_10206175646615025_4701826812250951663_n.jpg?oh=1aa3daa666d04d51750a3a10fb776b0a&oe=57572503">
                    <img src="https://scontent.fsnc1-1.fna.fbcdn.net/hphotos-xpa1/v/t1.0-9/10399232_10206175646615025_4701826812250951663_n.jpg?oh=1aa3daa666d04d51750a3a10fb776b0a&oe=57572503" alt="" />
                </a>
            </li>
        </ul>
    </div>
</div>

<section class="Interest02">
    <div class="InterestImageContainer InterestImageContainerL">
        <div class="InterestLeftContainer">
            <h1>Lorem ipsum dolor sit amet</h1>

            <h3>consectetur adipiscing elit. Aliquam a tellus mi. Class aptent taciti sociosqu</h3>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam a tellus mi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut nisi arcu
            </p>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam a tellus mi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut nisi arcu.</p>
        </div>

        <div class="InterestRightContainer">

            <canvas id="skills" width="400" height="400"></canvas>

        </div>

    </div>
</section>

<section class="Interest03">
    <div class="InterestImageContainer InterestImageContainerL">

        <canvas id="skills2" width="400" height="400"></canvas>

        <div class="InterestRightContainerMarvel MarvelText">
            <h1>Lorem ipsum dolor sit amet</h1>

            <h3>consectetur adipiscing elit. Aliquam a tellus mi. Class aptent taciti sociosqu</h3>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam a tellus mi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut nisi arcu
            </p>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam a tellus mi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut nisi arcu.</p>

        </div>

    </div>
</section>

<section class="Interest02">
    <div class="InterestImageContainer InterestImageContainerL">
        <div class="InterestLeftContainer">
            <h1>Lorem ipsum dolor sit amet</h1>

            <h3>consectetur adipiscing elit. Aliquam a tellus mi. Class aptent taciti sociosqu</h3>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam a tellus mi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut nisi arcu
            </p>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam a tellus mi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut nisi arcu.</p>
        </div>

        <div class="InterestRightContainer">
            <canvas id="skills3" width="400" height="400"></canvas>
        </div>

    </div>
</section>

