
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="AboutBody">
    <h1>About me!</h1>

    <h2>I'm a UX/UI Designer and Front End Developer from Richfield, North Carolina.</h2>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at vehicula ex. 
    </p>

    <div class="FaceImage"></div>

    <div class="FaceSmallImages">
        <ul>
            <li class="image1"></li>
            <li class="image2"></li>
            <li class="image3"></li>
            <li class="image4"></li>
            <li class="image5"></li>
            <li class="image6"></li>
        </ul>
    </div>
</div>

<div class="InterestImage">
    <h3>Random</h3>
    <ul>
        <li class="Interest1"></li>
        <li class="Interest2"></li>
        <li class="Interest3"></li>
    </ul>
</div>