@{
    ViewBag.Title = "Portfolio";
    Layout = "~/Views/Shared/_Layout.cshtml";

    @section Styles {
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.css" />
    }
}

<header class="PortHeader">
    <section class="about-section5">

        @*Masthead Slideshow*@
        <div class="portfolio-slideshow">

            @*figmtnbrew*@
            <article id="slider-proj">

                <div class="section group wrap">
                    <div class="col span_1_of_2">
                        <div class="proj-content">
                            <img src="/Content/img/project-fig.jpg" />
                        </div>
                    </div>
                    <div class="col span_1_of_2">
                        <div class="project-detail">
                            <h1><a target="_blank" href="http://figmtnbrew.com">figmtnbrew.com</a></h1>

                            <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet. Neque porro quisquam est qui dolorem dolorem ipsum quia dolor sit amet</p>

                            <ul>
                                <li>Neque porro quisquam est qui dolorem.</li>
                                <li>Neque porro quisquam est qui dolorem.</li>
                                <li>Neque porro quisquam est qui dolorem.</li>
                                <li>Neque porro quisquam est qui dolorem.</li>
                            </ul>


                        </div>

                    </div>
                </div>

            </article>

            @*Nwedison*@
            <article id="slider-proj">

                <div class="section group wrap">
                    <div class="col span_1_of_2">
                        <div class="proj-content">
                            <img src="/Content/img/proj-nwedison.jpg" />
                        </div>
                    </div>
                    <div class="col span_1_of_2">
                        <div class="project-detail">
                            <h1><a target="_blank" href="http://www.nwedison.com">nwedison.com</a></h1>

                            <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet. Neque porro quisquam est qui dolorem dolorem ipsum quia dolor sit amet</p>

                            <ul>
                                <li>Neque porro quisquam est qui dolorem.</li>
                                <li>Neque porro quisquam est qui dolorem.</li>
                                <li>Neque porro quisquam est qui dolorem.</li>
                                <li>Neque porro quisquam est qui dolorem.</li>
                            </ul>


                        </div>

                    </div>
                </div>

            </article>

            @*aasgardsummit*@
            <article id="slider-proj">

                <div class="section group wrap">
                    <div class="col span_1_of_2">
                        <div class="proj-content">
                            <img src="/Content/img/project-aasgard.jpg" />
                        </div>
                    </div>
                    <div class="col span_1_of_2">
                        <div class="project-detail">
                            <h1><a target="_blank" href="http://www.aasgardsummit.net">aasgardsummit.net</a></h1>

                            <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet. Neque porro quisquam est qui dolorem dolorem ipsum quia dolor sit amet</p>

                            <ul>
                                <li>Neque porro quisquam est qui dolorem.</li>
                                <li>Neque porro quisquam est qui dolorem.</li>
                                <li>Neque porro quisquam est qui dolorem.</li>
                                <li>Neque porro quisquam est qui dolorem.</li>
                            </ul>


                        </div>

                    </div>
                </div>

            </article>

            @*ReactJS-Todo*@
            <article id="slider-proj">

                <div class="section group wrap">
                    <div class="col span_1_of_2">
                        <div class="proj-content">
                            <img src="/Content/img/project-reacjt.jpg" />
                        </div>
                    </div>
                    <div class="col span_1_of_2">
                        <div class="project-detail">
                            <h1><a target="_blank" href="http://www.aasgardsummit.net">Reactjs-Todo</a></h1>

                            <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet. Neque porro quisquam est qui dolorem dolorem ipsum quia dolor sit amet</p>

                            <ul>
                                <li>Neque porro quisquam est qui dolorem.</li>
                                <li>Neque porro quisquam est qui dolorem.</li>
                                <li>Neque porro quisquam est qui dolorem.</li>
                                <li>Neque porro quisquam est qui dolorem.</li>
                            </ul>


                        </div>

                    </div>
                </div>

            </article>

            @*BreatheDotA*@
            <article id="slider-proj">

                <div class="section group wrap">
                    <div class="col span_1_of_2">
                        <div class="proj-content">
                            <img src="~/Content/img/project-breathedota.jpg" />
                        </div>
                    </div>
                    <div class="col span_1_of_2">
                        <div class="project-detail">
                            <h1><a target="_blank" href="http://www.aasgardsummit.net">BreatheDotA</a></h1>

                            <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet. Neque porro quisquam est qui dolorem dolorem ipsum quia dolor sit amet</p>

                            <ul>
                                <li>Neque porro quisquam est qui dolorem.</li>
                                <li>Neque porro quisquam est qui dolorem.</li>
                                <li>Neque porro quisquam est qui dolorem.</li>
                                <li>Neque porro quisquam est qui dolorem.</li>
                            </ul>


                        </div>

                    </div>
                </div>

            </article>

            @*Mygelb*@
            <article id="slider-proj">

                <div class="section group wrap">
                    <div class="col span_1_of_2">
                        <div class="proj-content">
                            <img src="~/Content/img/project-mygelb.jpg" />
                        </div>
                    </div>
                    <div class="col span_1_of_2">
                        <div class="project-detail">
                            <h1><a target="_blank" href="http://www.aasgardsummit.net">Mygelb.com</a></h1>

                            <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet. Neque porro quisquam est qui dolorem dolorem ipsum quia dolor sit amet</p>

                            <ul>
                                <li>Neque porro quisquam est qui dolorem.</li>
                                <li>Neque porro quisquam est qui dolorem.</li>
                                <li>Neque porro quisquam est qui dolorem.</li>
                                <li>Neque porro quisquam est qui dolorem.</li>
                            </ul>


                        </div>

                    </div>
                </div>

            </article>

            
        </div>



        @*Project Slideshow*@
        <div class="slider-nav">

            @*figmtnbrew*@
            <article id="slider-proj" style="background: url(/Content/img/project-fig.jpg); background-size: cover;">

            </article>

            @*Nwedison*@
            <article id="slider-proj" style="background: url(/Content/img/proj-nwedison.jpg); background-size: cover;">

            </article>

            @*aasgardsummit*@
            <article id="slider-proj" style="background: url(/Content/img/project-aasgard.jpg); background-size: cover;">

            </article>

            @*ReactJS-Todo*@
            <article id="slider-proj" style="background: url(/Content/img/project-reacjt.jpg); background-size: cover;">

            </article>

            @*BreatheDotA*@
            <article id="slider-proj" style="background: url(/Content/img/project-breathedota.jpg); background-size: cover;">

            </article>

            @*mygelb*@
            <article id="slider-proj" style="background: url(/Content/img/project-mygelb.jpg); background-size: cover;">

            </article>

        </div>

    </section>	
</header>
