@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="PortfolioContainer">
    <h1>-What I've built-</h1>

    <div class="PortfolioProjectBox"></div>
    <div class="PortfolioProjectBox"></div>
    <div class="PortfolioProjectBox"></div>

</div>

<div class="PortfolioGithubContainer">
    <h3>-Check out my Github!-</h3>
    <div id="GithubButton">
        <h1>Github</h1>
    </div>
</div>



