@{
    ViewBag.Title = "Portfolio";
    Layout = "~/Views/Shared/_Layout.cshtml";

    @section Styles {
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.css" />
    }
}

<header class="PortHeader">

    <section class="about-section5">
        <div class="portfolio-slideshow">

            <article style="background: url(/Content/img/project-fig.jpg); background-size: cover;">

                <div class="section5-title">
                    figmtnbrew.com
                </div>

                <div class="wrapper">
                    <div class="col-sm-12">
                        ##TEST##
                    </div>
                </div>
            </article>

            <article style="background: url(/Content/img/project-aasgard.jpg); background-size: cover;">

                <div class="section5-title">
                    aasgardsummit.net
                </div>

                <div class="wrapper">
                    <div class="col-sm-12">
                        ##TEST##
                    </div>
                </div>
            </article>

            <article style="background: url(/Content/img/proj-nwedison.jpg); background-size: cover;">

                <div class="section5-title">
                    www.nwedison.com
                </div>

                <div class="wrapper">
                    <div class="col-sm-12">
                        ##TEST##
                    </div>
                </div>
            </article>

        </div>

        <div class="slider-nav">
            <article id="slider-proj" style="background: url(/Content/img/project-fig.jpg); background-size: cover;">

                <div class="section5-title">
                    figmtnbrew.com
                </div>

                <div class="proj-content">
                    ##TEST##
                </div>

            </article>




            <article id="slider-proj" style="background: url(/Content/img/project-aasgard.jpg); background-size: cover;">

                <div class="section5-title">
                    aasgardsummit.net
                </div>

                <div class="proj-content">
                    ##TEST##
                </div>
            </article>


            <article id="slider-proj" style="background: url(/Content/img/proj-nwedison.jpg); background-size: cover;">

                <div class="section5-title">
                    www.nwedison.com
                </div>

                <div class="proj-content">
                        ##TEST##
                </div>
            </article>



            <article id="slider-proj" style="background: url(/Content/img/proj-nwedison.jpg); background-size: cover;">

                <div class="section5-title">
                    www.nwedison.com
                </div>

                <div class="proj-content">
                    ##TEST##
                </div>
            </article>



            <article id="slider-proj" style="background: url(/Content/img/proj-nwedison.jpg); background-size: cover;">

                <div class="section5-title">
                    www.nwedison.com
                </div>

                <div class="proj-content">
                    ##TEST##
                </div>
            </article>


            <article id="slider-proj" style="background: url(/Content/img/proj-nwedison.jpg); background-size: cover;">

                <div class="section5-title">
                    www.nwedison.com
                </div>

                <div class="proj-content">
                    ##TEST##
                </div>
            </article>
        </div>
    </section>	
</header>
